<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .login {
            width: 300px;
            text-align: center;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div class="login">
    <p>测试账号test，密码123456</p>
    <button role="button"><a href="<%= oAuthUrl %>">第三方登录</a></button>
</div>
</body>
</html>
